@charset "UTF-8";
:root {
  --primary: #b9ffb7;
  --secondary: #98d9c2;
  --highlight: #f19a3e;
  --background: #403233;
  --text: white;
  font-size: 10px;
  --spacing-s: 1rem;
  --spacing-xs: 0.5rem;
  --animation-1: all 0.3s ease;
  --main-font: "Roboto", sans-serif;
  --logo-font: "Alumni Sans Pinstripe", sans-serif;
}

body {
  background-color: var(--background);
  color: var(--text);
  font-size: 2rem;
  font-family: var(--main-font);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 0;
  margin: 0;
}

body::-webkit-scrollbar {
  width: 0px;
}

body.modal-open {
  overflow: hidden;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

a:not(.visit-card, .logo),
button:not(.billet-card) {
  all: unset;
  padding: var(--spacing-xs) var(--spacing-s);
  cursor: pointer;
  transition: var(--animation-1);
  border-radius: 0.5rem;
  width: fit-content;
}

a:hover:not(.logo, .visit-card),
button:hover:not(.billet-card) {
  background-color: #f19a3e;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4rem;
  width: 100%;
}

.logo {
  all: unset;
  display: flex;
  align-items: center;
  width: fit-content;
  font-family: var(--logo-font);
  font-size: 3rem;
  font-weight: bold;
  gap: 1rem;
  cursor: pointer;
  transition: var(--animation-1);
}
.logo svg {
  transition: var(--animation-1);
  fill: var(--text);
}

.logo:hover {
  color: var(--highlight);
}
.logo:hover svg {
  fill: var(--highlight);
}

.banner {
  display: flex;
  justify-content: center;
  gap: 150px;
  align-items: center;
  margin-bottom: 4rem;
}
.banner h1 {
  font-size: 3rem;
  max-width: 300px;
}
.banner img {
  width: 300px;
  aspect-ratio: 2/3;
  object-fit: cover;
}

.visits,
.dinosaures {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  margin-bottom: 4rem;
}
.visits > div,
.dinosaures > div {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  max-width: 90vw;
  align-items: center;
  margin: auto;
}

.visit-card,
.dino-card {
  all: unset;
  cursor: pointer;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: var(--animation-1);
  gap: 1rem;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.5);
}
.visit-card img,
.dino-card img {
  aspect-ratio: 3/2;
  width: 100%;
  object-fit: cover;
}
.visit-card *,
.dino-card * {
  margin: 0;
  padding: 0;
  text-align: center;
}
.visit-card *:not(img),
.dino-card *:not(img) {
  padding: 1rem;
  padding-top: 0;
  padding-bottom: 0;
}
.visit-card :last-child,
.dino-card :last-child {
  opacity: 0.5;
  padding-bottom: 1rem;
}
.visit-card h2,
.dino-card h2 {
  font-size: 2rem;
  color: var(--highlight);
  white-space: nowrap; /* empêche le retour à la ligne */
  overflow: hidden; /* masque ce qui dépasse */
  text-overflow: ellipsis;
}
.visit-card p,
.dino-card p {
  font-size: 1.5rem;
}

.btn-reservation {
  margin-top: 6rem !important;
  margin-bottom: 6rem !important;
  font-weight: bold !important;
}

.visit-card:hover,
.dino-card:hover {
  box-shadow: 0px 10px 15px -3px rgba(150, 150, 150, 0);
}

.billet-card {
  all: unset;
  display: flex;
  height: 200px;
  cursor: pointer;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.5);
}
.billet-card h2 {
  color: var(--highlight);
}
.billet-card span,
.billet-card p {
  font-size: 1.5rem;
}
.billet-card .img-container {
  overflow: hidden;
  flex: 1.5;
  display: flex;
  justify-content: center; /* centre horizontalement */
  align-items: center;
}
.billet-card .img-container img {
  object-fit: cover;
  height: 100%;
  aspect-ratio: 3/2;
}
.billet-card {
  position: relative;
}
.billet-card .action {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  opacity: 0;
}
.billet-card .left {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 2rem;
  flex: 2;
}
.billet-card .left * {
  padding: 0;
  margin: 0;
}

.billet-card:hover .action {
  opacity: 1;
}

.billets-column > h1 {
  margin-bottom: 1rem;
}
.billets-column {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.reservation-container {
  display: flex;
  width: 100%;
  gap: 3rem;
  padding: 0 5rem;
  box-sizing: border-box;
}
.reservation-container > div {
  flex: 1;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-container .reservation-modal {
  width: 300px;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  gap: 1.5rem;
}
.modal-container .reservation-modal img {
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: cover;
}
.modal-container .reservation-modal *:not(button) {
  padding: 0;
  margin: 0;
  font-size: 2rem;
}
.modal-container .reservation-modal *:not(img) {
  margin: 0 1rem;
}
.modal-container .reservation-modal h2 {
  font-size: 3rem;
  color: var(--highlight);
}
.modal-container .reservation-modal p {
  font-size: 1.5rem;
}

/*# sourceMappingURL=global.css.map */
