<h1>Créer un compte</h1>
<form id="sign-in-form">
  <label for="email">E mail</label>
  <input type="email" value="john.doe@gmail.com" id="email" name="email" />
  <label for="password">Mot de passe</label>
  <input type="password" value="coucoulafamillejesuisjohnDoe" id="password" name="password" />
  <label for="confirm-password">Confirmez le mot de passe</label>
  <input
    type="password"
    value="coucoulafamillejesuisjohnDoe"
    id="confirm-password"
    name="confirm_password"
  />
  <button type="submit">Envoyer</button>
</form>

<script src="../scripts/user_upload.js"></script>
