<h1>Se connecter</h1>
<form id="sign-in-form">
  <label for="email">E mail</label>
  <input type="email" placeholder="john.doe@gmail.com" id="email" name="email" />
  <label for="password">Mot de passe</label>
  <input type="password" id="password" name="password" />
  <label for="confirm-password">Confirmez le mot de passe</label>
  <input type="password" id="confirm-password" name="confirm_password" />
  <button type="submit">Envoyer</button>
</form>

<a href="/connexion/sign-in" style="text-decoration: underline">créer un compte</a>

<script src="../scripts/user_register.js"></script>
