<a href="/admin/dino-upload">New Dino</a>
<a href="/admin/billet-upload">New Billet</a>
<h1>Dinosaures:</h1>
<% for (const d of dinos) { %> <%- include('../../partials/dino_card.ejs', { dino: d }) %> <% } %>

<h1>Billets :</h1>
<!-- prettier-ignore -->
<% for (const b of billets) { %> <%- include('../../partials/billet_card.ejs', { billet: b }) %> <% } %>
