<a href="/admin/dino-upload">New Dino</a>
<a href="/admin/billet-upload">New Billet</a>
<a href="/admin/tarif-upload">New Tarif</a>
<h1>Dinosaures:</h1>
<% for (const d of dinos) { %> <%- include('../../partials/dino_card.ejs', { dino: d }) %> <% } %>

<h1>Billets :</h1>
<!-- prettier-ignore -->
<% for (const b of billets) { %> <%- include('../../partials/billet_card.ejs', { billet: b, dinos:dinos, voir_dino:voir_dino }) %> <% } %>

<h1>Tarifs disponlibes</h1>

<% for (const t of tarifs) { %> <%- include('../../partials/tarif_card.ejs', { tarif:t }) %> <% } %>
