<form id="dino-form">
  <label for="dinosaure-name">Dinosaure name</label>
  <input type="text" id="dinosaure-name" name="dinosaure-name" />

  <label for="dinosaure-regime">Dinosaure regime</label>
  <input type="text" id="dinosaure-regime" name="dinosaure-regime" />

  <label for="dinosaure-description">Dinosaure description</label>
  <input type="text" id="dinosaure-description" name="dinosaure-description" />

  <label for="dinosaure-img">Dinosaure image</label>
  <input type="file" id="dinosaure-img" name="dinosaure-img" accept=".png, .jpg, .jpeg" />

  <button type="submit">Envoyer</button>
</form>

<script src="../../scripts/dino_upload.js"></script>
